/* - Tints: 
rgba(180, 83, 9, 0.3)
#fbbf24

- Shades: 
#b45309
- Accents:
#d97706
- Greys:
#a1a1aa;
rgba(0, 0, 0, 0.2)
rgba(34,34,34,0.6)
rgba(63, 63, 63, 0.664)
#555
#333
#18181b */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/********GENERAL*********/
.center {
  text-align: center;
}

/* .container {	  
  max-width: 120rem;
	margin: 0 auto;	  
} */

.heading-primary {
  color: #fff;
  font-family: "Merriweather", "Times New Roman", Times, serif;
  font-size: 5.2rem;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-family: "Merriweather", "Times New Roman", Times, serif;
  font-size: 4.4rem;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2rem;
  margin-bottom: 3.2rem;
}

.heading-quaternary {
  font-size: 2.4rem;
}

.heading-label {
  color: #d97706;
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
  text-transform: uppercase;
}

.strong {
  font-weight: 500;
}

.grid {
  display: grid;
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2.4rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.4rem;
}